* {
    margin: 0;
    padding: 0;
  }
  
  ol, ul {
    list-style: none;
  }
  
  .photo-content {
  scroll-behavior: smooth;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
  background: white;
  width: 90%;
  padding-left: 2%;
}

.photo-content .gallery-1 {
  display: flex;
  width: 100%;
  min-width: 100vh;
  margin-top: 5%;
}

.photo-content .gallery-2 {
  display: flex;
  width: 100%;
  min-height: 100vh;
  margin-left: 20%;
  margin-bottom: 30%;
}

.gallery-3 {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.gallery-31 {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin-top: 10%;
  margin-left: 5%;
}

.photo-content .gallery-4 {
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: space-around;
  margin-left: 10%;
}

.photo-content .gallery-5 {
  width: 100%;
  min-height: 100vh;
  margin-top: 10%;
  margin-left: 5%;
}

.photo-content .gallery-6 {
  display: flex;
  min-width: 100%;
  min-height: 90vh;
  margin-left: 5%;
  margin-top: 5%;
}

.photo-content .gallery-7 {
  display: flex;
  width: 100%;
  min-height: 100vh;
  margin-left: 3%;
}

.photo-content .gallery-8 {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.gallery-9 {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-image: url("imgs/cruz.webp");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5%;
}

.photo-content .gallery-10{
  display: flex;
  width: 100%;
  min-height: 90vh;
  margin-top: 10%;
  margin-left: 10%;
}

.photo-content .gallery-11{
  display: flex;
  width: 100%;
  min-height: 40vh;
  margin-left: 5%;
}

.gallery-12{
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  min-height: 10vh;
  margin-bottom: 10%;
}

@media (max-width: 768px) {
  .gallery__item--2{
      display: none;
  }
  .gallery__item--3{
    display: none;
  }  
}
