
.gallery-1 .gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.gallery-1 .gallery__item--2 {
    grid-column-start: 3;
}

.gallery-2 .gallery__item--1 {
    width: 100%;
    z-index: 1;
}

.gallery-2 .gallery__item--2 {
    width: 100%;
    z-index: 1;
}

.gallery-2 .gallery__item--3 {
    width: 100%;
    z-index: 0;
}

.gallery-3 .gallery__item--1 {
    width: 100%;
}

.gallery-4 .gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.gallery-4 .gallery__item--2 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.gallery-4 .gallery__item--3 {
    grid-column-start: 3;
}

.gallery-5 .gallery__item--1 {
    /* visibility: hidden; */
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-left: 5%;
    padding-top: 10%;
}

.gallery-6 .gallery__item--1 {
   width: 100%;
   object-fit: cover;
}



