
.gallery-1 .gallery__item--1 {
    width: 80%;
    height:100%;
}

.gallery-1 .gallery__item--2 {
    width: 25%;
    align-self: center;
}

.gallery-2 .gallery__item--0 {
    width: 100%;
    /* z-index: 1; */
}
.gallery-2 .gallery__item--1 {
    width: 100%;
    z-index: 1;
}

.gallery-2 .gallery__item--2 {
    width: 100%;
    z-index: 1;
}

.gallery-2 .gallery__item--3 {
    width: 100%;
    z-index: 0;
}

.gallery-3 .gallery__item--1 {
    width: 100%;
    margin-inline: 2%;
    /* position: fixed; */
}

.gallery-31 .gallery__item--1 {
    width: 35%;
    height: 50%;
}

.gallery-31 .gallery__item--2 {
    width: 35%;
    height: 50%;
    margin-left: 40%;
}
.gallery-4 .gallery__item--1 {
    width: 33%;
}

.gallery-4 .gallery__item--2 {
    width: 33%;
    margin-left: 2%;
}

.gallery-5 .gallery__item--1 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-left: 2%;
}

.gallery-6 .gallery__item--1 {
   display: flex;
   width: 50%;
   height: 100%;
   text-align: center;
   margin-top: 15%;
   margin-left: 2%;
   font-family:'Helvetica Neue', sans-serif;
   font-size: 2.2rem;
}

.gallery-7 .gallery__item--1 {
    width: 35%;
    height: 50%;
}
.gallery-7 .gallery__item--2 {
    width: 35%;
    height: 20%;
    margin-top: 25%;
}

.gallery-7 .gallery__item--3 {
    width: 25%;
    height: 10%;
    margin-top: 10%;
    margin-left: 5%;
}

.gallery-8 .gallery__item--1 {
    width: 50%;
    height: 100%;
    margin-left: 5%;
    margin-top: 5%;
}

.gallery-8 .gallery__item--2 {
    width: 50%;
    height: 100%;
    margin-left: 40%;
}

.gallery-9 .gallery__item--1 {
    width: 100%;
    height: 100%;
    position: absolute;
}

.gallery-10 .gallery__item--1 {
    width: 32%;
    height: 100%;
}

.gallery-10 .gallery__item--2 {
    width: 32%;
    height: 100%;
}

.gallery-10 .gallery__item--3 {
    width: 32%;
    height: 100%;
}

.gallery-11 .gallery__item--1 {
    width: 45%;
    height: 100%;

}

.gallery-11 .gallery__item--2 {
    width: 25%;
    height: 50%;
}

.gallery-11 .gallery__item--3 {
    width: 45%;
    height: 50%;
}

.gallery-11 .gallery__item--4 {
    width: 40%;
    height: 50%;
}

