.menu-grid.code-menu {
	flex-shrink: 0;
	flex-grow: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	border: 1px solid white; 
	margin-right: 30%;
  
	.menu-title {
	  flex: 1;
	  display: flex;
	  justify-content: space-between; 
	  align-items: center;
	  border-bottom: 1px solid black; 
	  padding: 10px;
	  width: 100%;
	  font-size: 18px;
	  background-color: black;
	  color: white;
	}
  
	.content-container {
	  display: flex;
	  flex-direction: row; 
	  width: 100%;
	  background-color: #fff;
  
	  .grid-items {
		display: grid;
		grid-template-columns: repeat(3, 1fr); 
		gap: 10px; 
		flex-grow: 1;
		width: 100%;
		padding: 24px 20px;
		border-right: 1px solid white;
		overflow-x: auto;
		overflow-y: hidden;
		
		.grid-item {
		  border: 1px solid white;
		  width: 100%;
		  scroll-snap-align: start;
		  margin-right: 20px;
		  flex: 0 0 auto;
		  img {
			width: 90%;
			height: auto;
			display: block;
		  }
		  .title,
		  .year {
			padding: 5px;
		  }
		}
	  }
	  .menu-sidebar {
		width: 8%; 
		border-left: 1px solid black;
		background: white;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		padding: 10px;
		cursor: pointer;
	  }
	  .tooltip {
		display: none;
		position: absolute;
		left: -20px; 
		top: 50%;
		transform: translateY(-50%) rotate(-90deg);
		background-color: transparent; 
		color:  rgba(173, 0, 0, 0.795);;
		padding: 5px 10px;
		white-space: nowrap;
	   
	  }
	  .menu-sidebar:hover .tooltip {
		display: block; 
	  }  
	}
}