.grid-items {
	flex-grow: 1;
	justify-content: center;
	align-items: center;

	.grid-item {
		padding: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.p5-canvas-container {
		width: 400px;
		height: 400px;
	}
}