.theme-toggle-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 32px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  color: inherit;
  &.dark {
    color: white;
  }
  .toggle-circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 10px;
    transition: background-color 0.3s ease;
    &.dark {
      background-color: white;
      color: white;
    }

    &.light {
      background-color: black;
    }
  }

}
