.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 125px;
    height: 100%;
    z-index: 2;
    padding: 1rem;
    font-size: 14px;
    .sidebar-list {
      transform: rotate(-90deg);
      .sidebar-list-item{
        cursor: pointer;
        padding-top: 10px;
        .sidebar-link {
          color: rgba(173, 0, 0, 0.879);
          font-weight: bold;
        }
      }
    }
    .tnc-title {
      transform: rotate(-90deg);
      width: 100%;
      display: flex;
      text-wrap: nowrap;
      color: rgba(173, 0, 0, 0.879);
      font-size: 20px;
      text-align: center;
    }
    .sidebar-btns{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      transform: rotate(-90deg);
      .mode-btn {
        padding-top: 10px;
        border: none;
        cursor: pointer;
        background: none;
        color: inherit;
        display: flex;
        align-items: center;
        gap: 10px;
        transition: color 0.3s;
        .checkbox {
          width: 10px;
          height: 10px;
          border: 2px solid currentColor;
          display: inline-block;
        }
      }
      .mono-btn.mono-space {
        font-family: monospace;
      }
    }
  }

  .main-menu {
    padding: 0 125px;
    width: calc(100% - 250px); 
    height: 100vh;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; 
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
    gap: 30%;
    &::-webkit-scrollbar {
      display: none;
    }
    app-photo-menu, app-video-menu, app-code-menu, app-contact-menu {
      flex: 1 1 auto;
      min-width: 90%;
    }
  }
}

.main-content.dark-mode {
  .sidebar {
    border-right: 1px solid black;
    .sidebar-btns{
      .mode-btn {
        color: white;
        font-weight: bold;
        .checkbox {
          background-color: #fff;
          border: none;
        }
      }
    }
  }
}

.main-content.light-mode {
  .sidebar {
    border-right: 1px solid white;
    .sidebar-btns{    
      .mode-btn {
        color: #000;
        .checkbox {
          background-color: #000;
        }
      }
    }
  }

  .main-content.mono-space {
    font-family: monospace !important;
    .sidebar {
      .tnc-title{
        font-family: monospace !important;
      }
    }
  }
}
