<div class="border-box" [class.dark-mode]="isDarkMode" [class.light-mode]="!isDarkMode">
	<div class="sidebar">
		<span>The Nature of Chaos</span>
		<span class="contact-btn" (click)="scrollToContact()">Contact</span>
	</div>
	<div class="main-content">
		<div class="main-menu" #mainMenu>
			<app-code-menu [menu]="menus[2]" *ngIf="menus[2].isActive"></app-code-menu>
			<app-video-menu [menu]="menus[1]" *ngIf="menus[1].isActive"></app-video-menu>
			<app-photo-menu [menu]="menus[0]" *ngIf="menus[0].isActive"></app-photo-menu>
			<app-contact-menu id="contact-menu" [menu]="menus[3]" *ngIf="menus[3].isActive"></app-contact-menu>
		</div>
	</div>
</div>