<div class="main-content"  [class.dark-mode]="isDarkMode" [class.light-mode]="!isDarkMode">
	<aside class="sidebar">
		<ul>
		  <li><a routerLink="/exhibition">Exhibition</a></li>
		  <li><a routerLink="/works">Works</a></li>
		  <li><a routerLink="/news">News</a></li>
		</ul>
		<button class="mode-btn" (click)="toggleTheme()" [class.dark-mode]="isDarkMode" [class.light-mode]="!isDarkMode">
			<span class="checkbox"></span>
			{{ isDarkMode ? 'Light Mode' : 'Dark Mode' }}
		  </button>
	</aside>
	<div class="main-menu" #mainMenu>
 <!-- Photography Menu -->
	<section class="menu-grid photography-menu" *ngIf="menus[0].isActive">
		<div class="menu-title">{{ menus[0].title }}</div>
		<div class="grid-items">
		<div class="grid-item" *ngFor="let item of menus[0].items">
			<img [src]="item.image" [alt]="item.title">
			<div class="title">{{ item.title }}</div>
			<div class="year">{{ item.year }}</div>
		</div>
		</div>
	</section>	
	<section class="menu-grid video-menu" *ngIf="menus[1].isActive">
		<div class="menu-title">{{ menus[1].title }}</div>
		<div class="grid-items">
		<div class="grid-item" *ngFor="let item of menus[1].items">
			<img [src]="item.image" [alt]="item.title">
			<div class="title">{{ item.title }}</div>
			<div class="year">{{ item.year }}</div>
		</div>
		</div>
	</section>	
	<section class="menu-grid code-menu" *ngIf="menus[2].isActive">
		<div class="menu-title">{{ menus[2].title }}</div>
		<div class="grid-items">
		<div class="grid-item" *ngFor="let item of menus[2].items">
			<img [src]="item.image" [alt]="item.title">
			<div class="title">{{ item.title }}</div>
			<div class="year">{{ item.year }}</div>
		</div>
		</div>
	</section>	
	</div>
</div>