<div class="border-box" [class.dark-mode]="isDarkMode" [class.light-mode]="!isDarkMode">
	<div class="border-text border-text-left">
		<div class="sidebar-btns">
			<mat-checkbox (change)="toggleTheme($event.checked)" [checked]="isDarkMode">
				{{ isDarkMode ? 'Light Mode' : 'Dark Mode' }}
			</mat-checkbox>
		</div>
	</div>
	<div class="main-content">
		<div class="main-menu" #mainMenu>
			<app-photo-menu [menu]="menus[0]" *ngIf="menus[0].isActive" [isDarkMode]="isDarkMode"></app-photo-menu>
			<app-video-menu [menu]="menus[1]" *ngIf="menus[1].isActive" [isDarkMode]="isDarkMode"></app-video-menu>
			<app-code-menu [menu]="menus[2]" *ngIf="menus[2].isActive" [isDarkMode]="isDarkMode"></app-code-menu>
			<app-contact-menu [menu]="menus[3]" *ngIf="menus[3].isActive" [isDarkMode]="isDarkMode"></app-contact-menu>
		</div>
	</div>
</div>