.menu-container {
	&.dark-mode .menu-grid.photography-menu,
	&.light-mode .menu-grid.photography-menu {
		border: 1px solid black;
		display: flex;
		flex-direction: column;
	  .menu-title {
			border-bottom: 1px solid black;
			background-color: transparent;
			padding: 10px;
			width: 100%;
			font-size: 18px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 20px;
	  }
	  .content-container {
			display: flex;
			justify-content: center;
			align-items: stretch;
			height: 100%;

			.grid-items {
				flex-grow: 1;
				justify-content: center;
				align-items: center;
				.grid-item {
					padding: 20px;
					width: auto;
					max-width: 100%;
					img {
						width: auto;
						max-height: 50vh; 
						object-fit: cover;
					}
				}
			}
			.menu-sidebar {
				display: flex;
				flex-direction: column; 
				justify-content: flex-end;
				padding: 10px;
				cursor: pointer;
				.tooltip {
					display: none;
					position: absolute;
					left: -20px;
					top: 50%;
					transform: translateY(-50%) rotate(-90deg);
					background-color: transparent;
					color: rgba(173, 0, 0, 0.795);
					padding: 5px 10px;
					white-space: nowrap;
				}
				&:hover .tooltip {
					display: block;
				}
			}
	  }
	}
  
	// Adjustments for dark mode
	&.dark-mode {
	  .menu-grid.photography-menu {
		.menu-title,
		.content-container {
		  background-color: white;
		}
		.menu-sidebar {
		  background: #000;
		  color: white;
		}
	  }
	}
  
	// Adjustments for light mode
	&.light-mode {
	  .menu-grid.photography-menu {
		.menu-title {
		  background-color: transparent;
		}
		.content-container {
		  background-color: transparent;
		}
	  }
	}
  
	@media (max-width: 768px) {
	  .menu-grid.photography-menu {
			.content-container {
				flex-direction: column;
			}
			.menu-sidebar {
				justify-content: center;
				align-items: flex-end;
				.tooltip {
					transform: translateX(-50%) translateY(0) rotate(0);
					left: 50%;
					top: auto;
					bottom: -30px;
				}
			}
	  }
	}
  }
  