<div class="menu-container" [class.dark-mode]="isDarkMode" [class.light-mode]="!isDarkMode">
	<section class="menu-grid photography-menu">
		<div class="menu-title">
			<span><strong>{{ menu?.title }}</strong></span>
			<span><strong>{{menu?.number}}</strong></span>
		</div>
		<div class="content-container">
			<div class="grid-items">
				<div class="grid-item" *ngIf="randomImage">
					<img [src]="randomImage.image" loading="lazy" [alt]="randomImage.title">
				</div>
			</div>
			<div class="menu-sidebar" routerLink="/photography">
				<span> >> </span>
				<div class="tooltip">Photography Index</div>
			</div>
		</div>
	</section>
</div>
