.menu-grid.photography-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .menu-title {
	flex: 1;
	display: flex;
	justify-content: space-between; 
	align-items: center;
	padding: 10px;
	width: 100%;
	font-size: 18px;
  }

  .content-container {
	display: flex;
	flex-direction: row; 
	width: 100%;
	.grid-items {
	  display: grid;
	  grid-template-columns: repeat(3, 1fr); 
	  gap: 30px; 
	  padding: 50px;
      overflow-y: hidden;
	  .grid-item {
		scroll-snap-align: start;
		img {
		  width: 100%;
		  height: auto;
		}
		.title,
		.year {
		  padding: 5px;
		}
	  }
	}
	.menu-sidebar {
	  width: 8%; 
	  display: flex;
	  justify-content: center;
	  align-items: flex-end;
	  padding: 10px;
	  cursor: pointer;
		.tooltip {
			display: none;
			position: absolute;
			left: -20px; 
			top: 50%;
			transform: translateY(-50%) rotate(-90deg);
			background-color: transparent; 
			color:  rgba(173, 0, 0, 0.795);;
			padding: 5px 10px;
			white-space: nowrap;		 
		}
		&:hover .tooltip {
			display: block; 
		}  
	}
  }
}

.menu-container.dark-mode {
	.menu-grid.photography-menu{
		border: 1px solid black;
		.menu-title {
			border-bottom: 1px solid black; 
			background-color: white;
		}
		.content-container {
			background-color: white;
			.grid-items {
				border-right: 1px solid black;
				.grid-item {
					border: 1px solid black;
					.title,
					.year {
						color: #000;
					}
				}
			}
		}
		.menu-sidebar {
			background: #000;
			color: white;
		}
	}
}
  
.menu-container.light-mode {
	.menu-grid.photography-menu{
		border: 1px solid black; 
			.menu-title {
			border-bottom: 1px solid black; 
			background-color: transparent;
		}
		.content-container {
			background-color: transparent;
			.grid-items {
				.grid-item {
					border: 1px solid black;
					.title,
					.year {
						color: black;
					}
				}
			}
		}
		.menu-sidebar {
			background: black;
			color: white;
		}
	}
}