<div class="container">
	<div class="variations">
		<h2 class="title"># Butterflies Variations</h2>
		<div class="sketch-container">
			<div class="sketch-item">
				<div #p5Canvas1 class="canvas-container"></div>
				<h4 class="subtitle">Variation 01</h4>
			</div>
			<div class="sketch-item">
				<div #p5Canvas2 class="canvas-container"></div>
				<h4 class="subtitle">Variation 02</h4>
			</div>
			<div class="sketch-item">
				<div #p5Canvas3 class="canvas-container"></div>
				<h4 class="subtitle">Variation 03</h4>
			</div>
		</div>
	</div>
	<div class="ual-project">
		<div class="sketch-item">
			<div #p5Canvas4 class="canvas-container"></div>
		</div>
	</div>
	<div class="highxtar">
		<h2 class="title"># Highxtar x BIMBA&LOLA</h2>
		<div class="landing-page-container">
			<iframe src="assets/landing_hx/index.html" frameborder="0" class="landing-page-iframe" width="50%" height="100%"></iframe>
		</div>
		<div>
	</div>
	</div>
</div>
